@charset "UTF-8";

.form-control-borderless {
	border: none;
}

.form-control-borderless:hover, .form-control-borderless:active,
	.form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

/* thumbnail */
#myCarousel .list-inline {
	white-space: nowrap;
	overflow-x: auto;
}

#myCarousel .carousel-indicators {
	position: static;
	left: initial;
	width: initial;
	margin-left: initial;
}

#myCarousel .carousel-indicators>li {
	width: initial;
	height: initial;
	text-indent: initial;
}

#myCarousel .carousel-indicators>li.active img {
	opacity: 0.7;
}

.search-container {
	max-width: 50%;
}

.img-fluid {
	padding-top: 10px;
	max-width: 500px;
}

.img-fluid_list {
	max-width: 150px;
}

.embed-container {
	position: relative;
	padding-bottom: 9.25%;
	height: 0;
	overflow: hidden;
	max-width: 50%;
}

.embed-container iframe, .embed-container object, .embed-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
}

.imgContent {
	padding: 5px;
}

ul {
	list-style: none;
}

#title_area {
	margin-top : 50px;
}


.carousel_text {
	font-size : 20px;
}

